.contenedor_create_applicant{
    width: 100vw;
    height: 250vh;
 
    background-color: #427eff;
    justify-content: center;
    align-items: center;
    display: flex;
}
.form_applicant{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 200vh;
    width: 50vw;
    background-color: bisque;
}
.contain-form{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    background-color: blue;
    align-items: center;
    justify-content: space-around;
}
.informationProfile{
    width: 50vw;
    height: 50vh;
    background-color: rgb(0, 247, 255);
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    display: flex;
}
.informationAcademy{
    width: 50vw;
    height: 60vh;
    background-color: rgb(251, 255, 0);
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    display: flex;
}
input{
    outline: none;
}
