<section class="contenedor_create_applicant">

      <form action="" class="form_applicant" autocomplete="off" [formGroup]=" createApplicant" (ngSubmit)="  addApplicant()">
        
        <section class="contain-form">
            
                <div class="contain-formint">

                    <label for="name">Nombres</label>
                        <input type="text"  id="name" formControlName="name" required >
                    
            
                </div>



                      
                    <label for="lastname">Apellidos</label>
                    <input type="text" id="lastname" formControlName="lastname" required >



        
                <div>
                    <span>Tipo de identificación</span>

                        <select name="" id="" formControlName="typeIdent">
                            <option *ngFor="let n of optionsDoc">{{n}}</option>
                        </select>

                    <label for="id_applicant">Número de identificación</label>
                    <input type="number" id="id_applicant" formControlName="numberIdent" required >
        
        </div>

    
            
            <div >
                <label for="email_applicant">Correo Electronico</label>
                <input type="email" id="email_applicant" formControlName="email" required >

                <label for="number-applicant">Telefono de contacto</label>
                <input type="number" id="number-applicant" formControlName="phoneContact" required >

                <span>Fecha de Nacimiento</span>
                <input type="number" id="date_applicant" formControlName="numBirth">

                <select name="" id="" formControlName="monthBirth">
                    <option  *ngFor="let na of optionMonth">{{na}}</option>
                </select>

                <input type="number" placeholder="AAAA" formControlName="yearBirth">

                <label for="country_applicant">Pais de residencia</label>
                <input type="text" id="country_applicant" formControlName="country" required>

                <label for="country_applicant">Ciudad de residencia</label>
                <input type="text" id="country_applicant" formControlName="city" required >
            </div>

    </section>

        <section class="informationProfile">

            <div>
    
                <!-- <h4>Perfil Profesional</h4> -->
    
                <span>Descripción breve de tu perfil profesional</span>
                <textarea name="" id="" cols="30" rows="10" placeholder="Ejemplo: Soy un Fotografo profesional apasionado por el paisajismo." formControlName="aboutMe">

                </textarea>
                
    
                <span>Disponibilidad para viajar</span>
                <select name="" id="" formControlName="travel">
                    <option value="Disponibilidad para viajar Si">Si</option>
                    <option value="Disponibilidad para viajar No">No</option>
                </select>
    
                <!-- <span>Idiomas</span> -->
    

            </div>
    
            <div>

                  <div class="container-thought">

                         <span>Mis conocimientos </span>

                         <select name="" id="" [(ngModel)]='selectedKnowledge' formControlName="knowledge">
                            <option  *ngFor="let thought of optionThought">{{thought}}</option>
                        </select>
                        {{selectedKnowledge}}

                  </div>
               
                <div class="container-skill">
                    <span>Habilidades</span>

                        <select name="" id="" [(ngModel)]='selected' formControlName="skill">
                            <option  *ngFor="let skill of optionSkill">{{skill}}</option>
                        </select>
                        {{selected}}
                </div>
    
            </div>
    
        </section>   


        <section class="informationAcademy">

            <h4>Formacion academica</h4>

            <span>Cual es tu ultimo nivel de Estudios Terminado</span>

            <select name="" id="" formControlName="levelStudy">
                <option  *ngFor="let s of optionStudyLevel">{{s}}</option>
            </select>

            <label for="name_prof">Titulo otorgado</label>
            <input type="text" id="name_prof" formControlName="titleStudy">

            <span>Estado</span>
            <select name="" id="" formControlName="study">
                <option *ngFor="let st of optionState">{{st}}</option>
            </select>

       

        <div>
            <h4>Perfil Laboral</h4>
            <span>Experiencia Laboral</span> 

            <span>Años de Experiencia laboral</span>
            <select name="" id="" formControlName="yearJob">
                <option *ngFor="let t of optionTime">{{t}}</option>
            </select>

             <label for="loadTitle">Nombre del cargo</label>
                <input type="text" id="loadTitle" formControlName="nameJob">

            <label for="company">Empresa</label>
                <input type="text" id="company" formControlName="nameCompany">

                <span>Sector Economico de la empresa</span>
                <select name="" id="" formControlName="sectorCompany">
                    <option  *ngFor="let sec of optionCompany">{{sec}}</option>
                </select>

                <span>Fecha Inicio</span>
                    <select name="" id="" formControlName="companyMonth">
                        <option  *ngFor="let m of optionMonth">{{m}}</option>
                    </select>

                    <input type="text" placeholder="AAAA"  formControlName="companyYear">

                <input type="checkbox" id="job" value="Trabajo Actualmente en esta compañia" formControlName="companyActual" > 
                <label for="job">Trabajo Actualmente en esta compañia</label>

                <span>Fecha Finalizacion</span>
                    <select name="" id="" formControlName="finalMonth">
                        <option  *ngFor="let f of optionMonth">{{f}}</option>
                    </select>

                    <input type="text" placeholder="AAAA" formControlName="finalYear">

                <span>Tus logros</span>
                <textarea name="" id="" cols="30" rows="8" formControlName="attainment"></textarea>

            </div>

        </section>    

             

        



        <div>     
                <input type="checkbox" id="term"> 
                <label for="term">He leído y autorizo los Términos y condiciones de este portal.</label>
        </div>    
        
        <div>     
            <input type="checkbox" id="termTwo"> 
            <label for="termTwo" >Política de privacidad y protección de datos</label>
         </div>  

                <button>Crear cuenta</button>
        </form>
            <span *ngIf="submitted && createApplicant.invalid" >Revisa por favor aun hay campos requeridos incompletos y/o pendientes</span>
                
</section>
